.container {
  padding: 24px 48px;
}

.section-title {
  color: #ccd6f6;
}

.get-in-touch {
  border-radius: 4px;
  border: 1px solid;
  padding: 1.25rem 1.75rem;
}

.title {
  color: #64ffda;
}

.tab {
  cursor: pointer;
  border-radius: 0 !important;
  border-right: 1px solid #303C55;
}

.tab:hover {
  color: #64ffda;
  background-color: rgba(100,255,218,0.1);
}

.active-tab {
  color: #64ffda;
  border-right: 1.5px solid #64ffda;
}

.tab-content {
  padding: 30px;
}

.experiences {
  display: flex;
} 

.experience {
  flex-direction: column;
} 

.social-main {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 32px;
}

.social-secondary {
  display: none;
}

.social-media-icon {
  color: #fff !important;
} 

.social-media-icon:hover {
  color: #64ffda !important;
} 

@media (max-width: 768px) { 
  .social-main {
    display: none;
  }

  .social-secondary {
    display: flex;
    justify-content: center;
  }

  .experiences {
    display: inline;
  }

  .experience {
    flex-direction: row;
  }

  .tab {
    border-right: none;
  }
  
  .active-tab {
    border-right: none;
    border-bottom: 1px solid #64ffda;
  }
}

.menu-link {
  font-size: 32px;
  color: #fff !important;
}

.menu-link:hover {
  color: #64ffda !important;
}

.card:hover {
  background-color: rgba(0,0,0,0.5) !important;
}